<?xml version="1.0"?>
<launch>
    <arg name="ns" default="ugv1"/>
    <arg name="config_file" default="$(find unicycle_ugv_controller)/config/unicycle_ugv_controller.yaml"/>

    <arg name="control_rate_hz" default="500.0"/>
    <arg name="queue_size" default="10"/>

    <arg name="state_estimate_topic" default="alg/state_estimator/state"/>
    <arg name="state_source" default="state_estimator"/>
    <arg name="tracking_strategy" default="nmpc"/>
    <arg name="active_analytic_topic" default="alg/unicycle_reference_trajectory/active/analytic"/>
    <arg name="active_polynomial_topic" default="alg/unicycle_reference_trajectory/active/polynomial"/>
    <arg name="active_sampled_topic" default="alg/unicycle_reference_trajectory/active/sampled"/>
    <arg name="pva_reference_topic" default="alg/reference/pva"/>
    <arg name="cmd_vel_topic" default="cmd_vel"/>

    <arg name="state_timeout" default="0.2"/>
    <arg name="command_publish_rate_hz" default="30.0"/>
    <arg name="idle_cmd_rate_hz" default="5.0"/>
    <arg name="auto_start_tracking" default="false"/>
    <arg name="platform_pose_topic" default="pose"/>
    <arg name="reset_pose_topic" default="reset_pose"/>
    <arg name="reset_initial_x" default=""/>
    <arg name="reset_initial_y" default=""/>
    <arg name="reset_initial_yaw" default=""/>
    <arg name="reset_timeout" default="90.0"/>

    <arg name="nmpc_control_period" default="0.1"/>
    <arg name="nmpc_prediction_horizon" default="1.0"/>
    <arg name="nmpc_request_rate_hz" default="100.0"/>
    <arg name="nmpc_solve_timeout" default="0.05"/>
    <arg name="nmpc_result_timeout" default="0.1"/>

    <arg name="min_linear_speed" default="-1.5"/>
    <arg name="max_linear_speed" default="3.0"/>
    <arg name="max_angular_speed" default="2.5"/>
    <arg name="max_linear_acceleration" default="2.0"/>
    <arg name="max_angular_acceleration" default="3.0"/>
    <arg name="chassis_max_linear_speed" default="1.05"/>
    <arg name="chassis_max_yaw_rate" default="1.05"/>

    <arg name="nmpc_weight_position_x" default="20.0"/>
    <arg name="nmpc_weight_position_y" default="20.0"/>
    <arg name="nmpc_weight_yaw" default="8.0"/>
    <arg name="nmpc_weight_speed" default="4.0"/>
    <arg name="nmpc_weight_accel" default="0.4"/>
    <arg name="nmpc_weight_omega" default="10.0"/>
    <arg name="nmpc_weight_angular_accel" default="1.0"/>
    <arg name="nmpc_weight_terminal_position_x" default="60.0"/>
    <arg name="nmpc_weight_terminal_position_y" default="60.0"/>
    <arg name="nmpc_weight_terminal_yaw" default="20.0"/>
    <arg name="nmpc_weight_terminal_speed" default="10.0"/>

    <group ns="$(arg ns)">
        <node pkg="unicycle_ugv_controller"
              type="unicycle_ugv_controller_node"
              name="unicycle_ugv_controller"
              output="screen">
            <rosparam command="load" file="$(arg config_file)"/>

            <param name="control_rate_hz" value="$(arg control_rate_hz)"/>
            <param name="queue_size" value="$(arg queue_size)"/>
            <param name="state_estimate_topic" value="$(arg state_estimate_topic)"/>
            <param name="state_source" value="$(arg state_source)"/>
            <param name="tracking_strategy" value="$(arg tracking_strategy)"/>
            <param name="active_analytic_topic" value="$(arg active_analytic_topic)"/>
            <param name="active_polynomial_topic" value="$(arg active_polynomial_topic)"/>
            <param name="active_sampled_topic" value="$(arg active_sampled_topic)"/>
            <param name="pva_reference_topic" value="$(arg pva_reference_topic)"/>
            <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
            <param name="state_timeout" value="$(arg state_timeout)"/>
            <param name="command_publish_rate_hz" value="$(arg command_publish_rate_hz)"/>
            <param name="idle_cmd_rate_hz" value="$(arg idle_cmd_rate_hz)"/>
            <param name="auto_start_tracking" value="$(arg auto_start_tracking)"/>
            <param name="platform_pose_topic" value="$(arg platform_pose_topic)"/>
            <param name="reset_pose_topic" value="$(arg reset_pose_topic)"/>
            <param if="$(eval arg('reset_initial_x') != '')" name="reset_initial_x" type="double" value="$(arg reset_initial_x)"/>
            <param if="$(eval arg('reset_initial_y') != '')" name="reset_initial_y" type="double" value="$(arg reset_initial_y)"/>
            <param if="$(eval arg('reset_initial_yaw') != '')" name="reset_initial_yaw" type="double" value="$(arg reset_initial_yaw)"/>
            <param name="reset/timeout" value="$(arg reset_timeout)"/>
            <param name="nmpc/control_period" value="$(arg nmpc_control_period)"/>
            <param name="nmpc/prediction_horizon" value="$(arg nmpc_prediction_horizon)"/>
            <param name="nmpc/request_rate_hz" value="$(arg nmpc_request_rate_hz)"/>
            <param name="nmpc/solve_timeout" value="$(arg nmpc_solve_timeout)"/>
            <param name="nmpc/result_timeout" value="$(arg nmpc_result_timeout)"/>
            <param name="limits/min_linear_speed" value="$(arg min_linear_speed)"/>
            <param name="limits/max_linear_speed" value="$(arg max_linear_speed)"/>
            <param name="limits/max_angular_speed" value="$(arg max_angular_speed)"/>
            <param name="limits/max_linear_acceleration" value="$(arg max_linear_acceleration)"/>
            <param name="limits/max_angular_acceleration" value="$(arg max_angular_acceleration)"/>
            <param name="chassis/max_linear_speed" value="$(arg chassis_max_linear_speed)"/>
            <param name="chassis/max_yaw_rate" value="$(arg chassis_max_yaw_rate)"/>
            <param name="nmpc/weights/position_x" value="$(arg nmpc_weight_position_x)"/>
            <param name="nmpc/weights/position_y" value="$(arg nmpc_weight_position_y)"/>
            <param name="nmpc/weights/yaw" value="$(arg nmpc_weight_yaw)"/>
            <param name="nmpc/weights/speed" value="$(arg nmpc_weight_speed)"/>
            <param name="nmpc/weights/accel" value="$(arg nmpc_weight_accel)"/>
            <param name="nmpc/weights/omega" value="$(arg nmpc_weight_omega)"/>
            <param name="nmpc/weights/angular_accel" value="$(arg nmpc_weight_angular_accel)"/>
            <param name="nmpc/weights/terminal_position_x" value="$(arg nmpc_weight_terminal_position_x)"/>
            <param name="nmpc/weights/terminal_position_y" value="$(arg nmpc_weight_terminal_position_y)"/>
            <param name="nmpc/weights/terminal_yaw" value="$(arg nmpc_weight_terminal_yaw)"/>
            <param name="nmpc/weights/terminal_speed" value="$(arg nmpc_weight_terminal_speed)"/>
        </node>
    </group>
</launch>
